.meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(113, 142, 156);
    color: rgb(12, 25, 124);
    font-weight: 400;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
    margin-right: 40px;
    max-width: 400px;
    
    
  }
  @media only screen and (max-width: 469px){
    .description{
      width: 100%;
  
    }


  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #3f05d0;
    font-size: 1.25rem;
  }