@import '../../style/vars.css';

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background: rgb(0,124,175);
background: linear-gradient(90deg, rgb(216, 239, 248) 0%, rgba(185,234,255,1) 27%, rgba(187,234,255,1) 51%, rgb(249, 238, 247) 85%);
    color: rgb(15, 75, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
    
  }
  .header h1{
    font-size: 4rem;
    font-family: 'Oleo Script', cursive;
    color:#0d30bd;
    /* -webkit-text-stroke: 4px var(--secondary-color-light);  */
  }
  
  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }