:root{
    --main-color: #2f26d5 ;
    --main-color-tint: #3324d6;
    --main-color-dark:  #0b012b;
    --main-color-light: #1d55ef;
    --secondary-color:#a11ff7;
    --secondary-color-light:  #66b6fd;

}