@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  color: rgb(7, 7, 92);
  background: rgb(0,124,175);
  background: linear-gradient(90deg, #f7f7f7 0%, rgba(185,234,255,1) 27%, rgba(187,234,255,1) 51%, rgb(183, 222, 231) 85%);
}

h1, h2, h3 {
  color:  rgb(7, 7, 92);
}
